body {
  background-image: url("./avion.png");
  color: red;
}

label {
  font-weight:700
}

.batch {
	display: flex;
	padding:64px
}

.batch form {
	margin: auto
}

.stats {
  width:75%;
  margin: 128px auto;
  opacity: 0.5;
  background-color: white;;
  font-weight: 700;
}
